/* ============================
  GLOBAL STYLES
============================== */
html {
  box-sizing: border-box;
  height: 100%;
}

* {
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  font-family: "Reenie Beanie", cursive;
  font-size: $base-font;
  font-weight: normal;
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Permanent Marker", cursive;
  font-weight: normal;
}

h1 {
  font-size: 3rem;
  padding: 1rem 0;
  text-align: center;

  @media only screen and (min-width: $tablet) {
    font-size: 4rem;
  }
}

h2 {
  font-size: 1.4rem;

  @media only screen and (min-width: $tablet) {
    font-size: 1.8rem;
  }
}

p,
a,
ul,
li {
  font-size: 0.8rem;
  line-height: 1.6;

  @media only screen and (min-width: $mobile) {
    font-size: 1rem;
  }

  @media only screen and (min-width: $tablet) {
    font-size: 2rem;
  }
}

a {
  color: $color-black;
  text-decoration: none;
}

img {
  height: auto;
  max-width: 80%;

  @media only screen and (min-width: $tablet) {
    max-width: 100%;
  }
}

section {
  padding: 3rem 0;
}
