/* ============================
  VARIABLES
============================== */
$color-white: #ffffff;
$color-grey: #666666;
$color-black: #000000;
$color-teal: #1ca8c7;

$base-font: 16px;

$mobile: 36rem;
$tablet: 48rem;
$desktop: 62rem;
$xl-desktop: 75rem;
